# -------------------------
# Python virtual environments
# -------------------------
.venv/
**/.venv/

# -------------------------
# Environment files
# -------------------------
.env
.env.*
.env_local
**/.env
**/.env.*
**/.env_local

# -------------------------
# Node modules
# -------------------------
node_modules/
**/node_modules/

# -------------------------
# Logs (arquivos .log)
# -------------------------
*.log
**/*.log

# -------------------------
# Pastas de log
# -------------------------
log/
logs/
**/log/
**/logs/

# -------------------------
# Arquivos de cache
# -------------------------
__pycache__/
**/__pycache__/
